* {
    font-family:"Tahoma";
}

h1, h2, h3, h4, h5, h6, p, ul, li {
    margin:unset;
    padding:unset;
}

ul {
    list-style-type:none;
}

.wt_center {
	/**Start of vertical/horizontal centering**/
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	/**End of vertical/horizontal centering**/
	text-align:center;
	width:100%;
	letter-spacing:0.1em;
}

#content_contain {
    height:calc(100vh - 50px);
    margin-top:50px;
    width:100%;
    position:relative;
}

/**NAVIGATION**/
.mobile_nav {
    background-color:white;
    height:50px;
    width:100%;
    position:fixed;
    top:0;
    z-index:20;
}

.mobile_nav_button {
    width:unset;
    right:0;
    left:unset;
}

.burger_menu_line1, .burger_menu_line2, .burger_menu_line3 {
    /* background-color:#F14242; */
    background-color:black;
    height:5px;
    margin-top:2.5px;
    margin-bottom:2.5px;
    border-radius:100px;
}

.burger_menu_line1 {
    width:30px;
}

.burger_menu_line2 {
    width:20px;
    margin-left:10px;
}

.burger_menu_line3 {
    width:10px;
    margin-left:20px;
}

.mobile_nav_menu {
    height:100vh;
    width:100%;
    background-color:black;
    position:fixed;
    z-index:30;
    top:0;
    white-space:pre-line;
    color:white;
}

.mobile_nav_menu li {
    font-family:"Sue Ellen Francisco";
    font-size:5vw;
    margin-top:15px;
    margin-bottom:15px;
    cursor:pointer;
    display:inline-block;
}

/**ABOUT ME**/
.page_contain {
    width:100%;
    /* background-color:#F14242; */
}

.page_contain_text {
    width:85%;
    margin-left:7.5%;
    padding-top:50px;
}

.para_text {
    font-size:3.5vw;
    line-height:1.5rem;
    margin-top:2.5em;
    letter-spacing:0.01em;
}

/**POTLATCH**/
.pli {
    width:100%;
}

.para_text_flip {
    margin-top:unset;
    margin-bottom:2.5em;
    font-size:2.5vw;
}

.para_text_btmmargin {
    margin-bottom:2.5em;
}

.para_text_btmpadding {
    padding-bottom:2.5em;
}

/**AMBERGRIS**/
.image_list {
    width:100%;
}

.image_square {
    background-color:white;
    width:100%;
    padding-top:100%;
    margin-top:30px;
}

/**ARTWORK**/
.art_tile {
    width:100%;
    padding-top:100%;
    background-color:white;
    background-size:cover;
    background-repeat:no-repeat;
}

.at_0 {background-image:url("../images/paint0.jpg");}
.at_1 {background-image:url("../images/paint1.jpg");}
.at_2 {background-image:url("../images/paint2.jpg");}
.at_3 {background-image:url("../images/paint3.jpg");}
.at_4 {background-image:url("../images/paint4.jpg");}
.at_5 {background-image:url("../images/paint5.jpg");}
.at_6 {background-image:url("../images/paint6.jpg");}
.at_7 {background-image:url("../images/paint7.jpg");}
.at_8 {background-image:url("../images/paint8.jpg");}
.at_9 {background-image:url("../images/paint9.jpg");}
.at_10 {background-image:url("../images/paint10.png");}
.at_11 {background-image:url("../images/paint11.jpg");}
.at_12 {background-image:url("../images/paint12.jpg");}
.at_13 {background-image:url("../images/paint13.jpg");}
.at_14 {background-image:url("../images/paint14.jpg");}
.at_15 {background-image:url("../images/paint15.jpg");}
.at_16 {background-image:url("../images/paint16.jpg");}
.at_17 {background-image:url("../images/paint17.jpg");}
.at_18 {background-image:url("../images/paint18.jpg");}
.at_19 {background-image:url("../images/paint19.jpg");}
.at_20 {background-image:url("../images/paint20.jpg");}
.at_21 {background-image:url("../images/paint21.jpg");}
.at_22 {background-image:url("../images/paint22.jpg");}
.at_23 {background-image:url("../images/paint23.jpg");}
.at_24 {background-image:url("../images/paint24.jpg");}
.at_25 {background-image:url("../images/paint25.jpg");}
.at_26 {background-image:url("../images/paint26.jpg");}
.at_27 {background-image:url("../images/paint27.jpg");}
.at_28 {background-image:url("../images/paint28.jpg");}
.at_29 {background-image:url("../images/paint29.jpg");}
.at_30 {background-image:url("../images/paint30.jpg");}
.at_31 {background-image:url("../images/paint31.jpg");}
.at_32 {background-image:url("../images/paint32.jpg");}
.at_33 {background-image:url("../images/paint33.jpg");}
.at_34 {background-image:url("../images/paint34.jpg");}
.at_35 {background-image:url("../images/paint35.jpg");}
.at_36 {background-image:url("../images/paint36.jpg");}
.at_37 {background-image:url("../images/paint37.jpg");}


/**MISC**/
.page_title {
    font-family:"Sue Ellen Francisco";
}

.hidden {
    display:none;
}


/**MEDIA QUERIES**/
@media only screen and (min-width:768px){
    .art_tile {
        width:33.33333%;
        padding-top:33.33333%;
        margin-left:unset;
        margin-top:unset;
        float:left;
    }
    .para_text {
        font-size:.9rem;
    }
    .page_contain_text {
        text-align:left;
    }
}

@media only screen and (min-width:1080px){
    .art_tile {
        width:20%;
        padding-top:20%;
    }
    .page_contain_text {
        width:917px;
    }
}